<!-- <div class="liquid-glass">
  <p-menubar [model]="items">
    <ng-template pTemplate="start">
      <img src="logotipo.png" height="50" class="mr-2" alt="Logo" style="border-radius: 50%;" />
    </ng-template>
  </p-menubar>
</div> -->

<div class="cont-nav">
  <nav class="nav">
    <div class="nav__logo">
      <a class="nav__link-logo" [routerLink]="['/users/home']">
        <img class="nav__img-logo" src="logotipo.png" />
      </a>
    </div>
    <div class="nav__links">
      @for (item of navItems; track $index) {
      <a class="nav__link" [routerLink]="[item.path]" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">{{item.label}}</a>
      }
    </div>
    <div class="nav__session">
      @if(authService.token()){
        <button class="nav__link login" type="button" (click)="onLogout()" >Cerrar Sesión</button>
      }@else {
        <button class="nav__link login" type="button" (click)="onLogin()" >Iniciar Sesión</button>
        <button class="nav__link new-account" type="button" (click)="onNewAccount()" >Crear Cuenta</button>
      }
    </div>
  </nav>
</div>