/*Estilos usando el modo: Mobile first*/

.nav,
.nav__logo,
.nav__links,
.nav__session{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nav__logo img{
    width: 25rem;
}