<div class="sheet">
    <h2 class="sheet__heading">Hoja de puntuación</h2>
    <div class="teams">
        <div class="teams__team teams__team--a">
            <h3 class="team__heading">Team A</h3>
            <div class="players">
                <div class="players__player">
                    <p class="player__name">Nombre del Jugador</p>
                    <p class="player__number">Jersey: 00</p>
                </div>
                <div class="players__points">
                    <p class="points">
                        Puntos: 0
                    </p>
                    <div class="add-points">
                        <button class="add-point__button">+1</button>
                        <button class="add-point__button">+2</button>
                        <button class="add-point__button">+3</button>
                    </div>
                </div>
            </div>
        </div>


        <div class="teams__team teams__team--b">
            <h3 class="team__heading">Team A</h3>
            <div class="players">
                <div class="players__player">
                    <p class="player__name">Nombre del Jugador</p>
                    <p class="player__number">Jersey: 00</p>
                </div>
                <div class="players__points">
                    <p class="points">
                        Puntos: 0
                    </p>
                    <div class="add-points">
                        <button class="add-point__button">+1</button>
                        <button class="add-point__button">+2</button>
                        <button class="add-point__button">+3</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>