.sheet {
    max-width: 120rem;
    margin: 0 auto;
    width: 95%;
    background-color: var(--primary);
    margin-top: 4rem;
    padding: 2rem;
}

.sheet__heading {
    padding-bottom: 3rem;
}

.teams__team {
    padding: 1rem;
}

.team__heading {
    padding-bottom: 1.5rem;
}

@media(min-width:768px) {
    .teams {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 2rem;
    }
}

.teams__team--a {
    background: var(--blue);
}

.players {
    display: flex;
    gap: 2rem
}

@media(min-width:768px) {
    .players__player {
        display: flex;
        gap: 1rem;
    }
}

.player__name {
    display: none;
}

@media(min-width:768px) {
    .player__name {
        display: block;
    }
}

.players__points {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 1rem;
}

.add-point__button {
    width: 100%;
    border: none;
    border-radius: .5rem;
    font-size: 1.6rem;
    padding: 1rem;
}

.add-point__button:nth-of-type(odd) {
    background-color: var(--secondary);
}


.add-points {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}

@media(width<360px) {

    .add-points,
    .players
    {
        flex-direction: column;
    }

    .players__points {
        grid-template-columns: 1fr;
    }
}